<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Initial Form</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
    
    <p th:text="'Time on the server is ' + ${currDate}" class="para" />

    <h3 class="heading">Initial Form</h3>
    <form th:action="@{/processForm}" method="get">

        <input type="text" name="studentName" placeholder="Full name" />

        <input type="submit" />

    </form>

    <h3 class="heading">All Capital Form</h3>
    <form th:action="@{/processFormTwo}" method="get">

        <input type="text" name="studentName" placeholder="Full name" />

        <input type="email" name="studentEmail" />

        <input type="submit" />

    </form>

</body>
</html>